{% load static %}
<div class="home-footer">
    <div class="home-footer-child">
        <img src="{% static 'images/branding-full-dark.png' %}" alt="MEI Logo" class="home-footer-logo" />
        <div class="home-footer-contact-info">
            <div class="home-footer-contact">+1 555 123 4567</div>
            <div class="home-footer-contact">contact@meienergy.com</div>
        </div>
    </div>
    <div class="home-footer-child home-footer-center">
        <div class="home-footer-links-container">
            <a href="#" class="home-footer-link">About MEI</a>
            <a href="#" class="home-footer-link">Terms of Use</a>
            <a href="#" class="home-footer-link">Privacy Policy</a>
        </div>
        <div class="home-footer-copyright">© 2025 MEI Energy. All rights reserved.</div>
    </div>
    <div class="home-footer-child home-footer-socials">
        <img src="{% static 'images/icons/twitter-icon.png' %}" alt="LinkedIn" class="social-footer-icon" />
        <img src="{% static 'images/icons/insta-icon.png' %}" alt="Instagram" class="social-footer-icon" />
        <img src="{% static 'images/icons/twitter-icon.png' %}" alt="Twitter" class="social-footer-icon" />
    </div>
</div>