{% extends "base_auth.html" %} {% block title %} Create Password {% endblock %} {% block content %}
<div class="auth-form-text">Create new password</div>
<div class="auth-form">
  <form class="custom-form" action="{% url 'create_password' %}" method="post">
    {% csrf_token %}
    <div class="form-group custom-form-group">
      <label class="custom-form-label" for="email">Email</label>
      <input class="custom-form-input" type="text" id="email" name="email" />
    </div>
    <div class="form-group custom-form-group">
      <label class="custom-form-label" for="password">New Password</label>
      <input class="custom-form-input" type="password" id="new_password" name="new_password" required />
    </div>
    <div class="form-group custom-form-group">
      <label class="custom-form-label" for="password">Repeat New Password</label>
      <input class="custom-form-input" type="password" id="repeat_new_password" name="repeat_new_password" required />
    </div>
    <div class="auth-buttons-container">
      <button class="custom-primary-button" type="submit">
        Reset Passwords & Login
      </button>
      <a class="custom-secondary-button" href="{% url 'login' %}">Cancel</a>
    </div>
  </form>
  <div id="error-container" class="auth-error" style="display: none;"><span></span></div>
  {% if error %}
  <div class="auth-error"><span>{{ error }}</span></div>
  {% endif %}
</div>

<script>
  document.querySelector('.custom-form').addEventListener('submit', function (e) {
    const password = document.getElementById('new_password').value;
    const confirmPassword = document.getElementById('repeat_new_password').value;
    const errorContainer = document.getElementById('error-container');
    const errorSpan = errorContainer.querySelector('span');

    // Clear previous errors
    errorContainer.style.display = 'none';
    errorSpan.textContent = '';

    if (password !== confirmPassword) {
      e.preventDefault();
      // Show error in the container
      errorSpan.textContent = 'Passwords do not match!';
      errorContainer.style.display = 'flex';
    }
  });
</script>
{% endblock %}