{% extends "base_auth.html" %} {% block title %} Password Reset {% endblock %}
{% block content %}
<div class="auth-form-text">Password Reset</div>
<div class="auth-form">
  <form class="custom-form" action="{% url 'password_reset' %}" method="post">
    {% csrf_token %}
    <div class="auth-message-container">
      <span>Please enter your email address. We will send password reset
        instructions to the email address on your account.
      </span>
    </div>
    <div class="form-group custom-form-group">
      <label class="custom-form-label" for="email">Email</label>
      <input class="custom-form-input" type="text" id="email" name="email" />
    </div>
    <div class="auth-buttons-container">
      <button class="custom-primary-button" type="submit">
        Reset Passwords
      </button>
      <a class="custom-secondary-button" href="{% url 'login' %}">Cancel</a>
    </div>
  </form>
  {% if error %}
  <div class="auth-error"><span>{{ error }}</span></div>
  {% endif %}
  </form>
</div>
{% endblock %}