body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-image: url(../images/main-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-container {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.2);
  padding: 40px 80px;
  border-radius: 10px;
  color: #fff;

  display: flex;
  flex-direction: column;
}

.auth-branding {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}

.auth-branding img {
  height: 56px;
}

.auth-form-container {
  display: flex;
  width: 660px;
}

.auth-form-text {
  font-weight: 100;
  width: 50%;
  display: flex;
  justify-content: left;
  font-size: 38px;
  letter-spacing: 1px;
}

.auth-form {
  width: 50%;
}

.custom-auth-form-link {
  margin-top: 10px;
}

.auth-buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth-message-container {
  border-radius: 14px;
  color: #000;
  border: 1px solid #fff;
  padding: 16px 14px;
  font-size: 14px;
  background-color: #ffffff50;
  margin-bottom: 20px;
}

.auth-error {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-error span {
  width: 100%;
  background-color: red;
  color: #fff;
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
  padding: 10px;
  border-radius: 14px;
}

@media (max-width: 860px) {
  .auth-container {
    width: 220px;
    padding: 20px;
    border-radius: 10px;
  }
  .auth-form-container {
    flex-direction: column;
    width: 100%;
  }

  .auth-form-text {
    text-align: center;
    width: 100%;
    justify-content: center;
    font-size: 24px;
    margin-bottom: 10px;
  }

  .auth-form {
    width: 100%;
  }

  .auth-branding {
    margin-bottom: 20px;
  }

  .auth-branding img {
    height: 36px;
  }

  .auth-message-container {
    font-size: 12px;
    text-align: center;
  }
}
